# Should contain every env variable that docker-compose file needs to configure the containers
POSTGRES_DB="expense_ledger"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgresPassword12@"

HANGFIRE_POSTGRES_DB="hangfire"
HANGFIRE_POSTGRES_USER="hangfire"
HANGFIRE_POSTGRES_PASSWORD="hangfirePassword12@"

MINIO_ROOT_USER="minio"
MINIO_ROOT_PASSWORD="minioPassword12@"


